body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

h1 {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  align-self: center;
  gap: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px #888888;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  align-self: center;
  grid-gap: 0px;
  width: 580px;
  height: 580px;
  border: 1px solid black;
  background-color: whitesmoke;
}

.grid-item {
  padding: 0;
  border: 1px solid #ddd;
}

.color {
  background-color: black;
  border: 1px solid currentColor;
}
